@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");


:root {
    --cor5: #fd8700;
    --cor4: #E08722;
    --cor3: #dd9848;
    --cor2: #DBA96F;
    --cor1: #e0ac7e;
    --cor0: #FFC8A6;


    --font-padrao: Arial, Helvetica, sans-serif;
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: white;
}

/*=================== HEADER TITULO===================*/

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.titulo-header{
    position: absolute;
    font-size: 1.3rem;
    padding: 1.5rem 0.1rem 1rem 2rem;
    font-family: var(--font-secundary);
    color: #fd7a00;
    text-shadow: .1rem .1rem .15rem rgba(0, 0, 0, 0.6);
    width: 20vw;
    animation: animacaoh1 2s 0.5s forwards;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    transition: all 1s;
}

.titulo-header:hover {
    color: #fc4a1a;
    letter-spacing: 1px;
}

@keyframes animacaoh1 {
    0% {
        transform: translateX(-10rem) rotateX(-30deg);
    }

    100% {
        transform: translateX(0) rotateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 930px){
    .titulo-header {
        left: 0%;
        position: fixed;
    }
}


/*=================== IMG e BANNER DO CABEÇALHO ===================*/


.img-cabecalho {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-cabecalho img {
    width: 100vw;
    height: 100%;
    opacity: 0.6;
    animation: animacao 12s;
}

@keyframes animacao {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: white;
    font-size: 3.8rem;
    font-family: var(--font-primary);
    font-weight: lighter;
    text-shadow: .2rem .23rem .18rem rgba(0, 0, 0, 0.7);
    line-height: 3.5rem;
    margin-bottom: 3rem;
    animation: animacaoBanner 1.8s 0.5s forwards;
    opacity: 0;
}

.banner p {
    color: white;
    font-family: var(--font-secundary);
    font-size: 2.3rem;
    text-shadow: .13rem .18rem .15rem rgba(0, 0, 0, 0.6);
    margin-bottom: 3rem;
    opacity: 0;
    animation: animacaoBanner 2s 0.7s forwards;
}

.banner button {
    background: #fc4a1a;
    background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);
    background: linear-gradient(to left, #f7b733, #fc4a1a);
    font-family: var(--font-action);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    text-shadow: .1rem .1rem .15rem rgba(0, 0, 0, 0.6);
    box-shadow: .05rem .17rem .3rem rgba(0, 0, 0, 0.6);
    cursor: pointer;
    opacity: 0;
    animation: animacaoBanner 2s 0.9s forwards;
}

button a {
    color: white;
}

button a:hover {
    color: #dd9848;
    transition: all 0.7s;
}

@keyframes animacaoBanner {
    0% {
        transform: translateY(20rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


/*=================== HAMBURGUER ===================*/

.hamburguer {
    position: fixed;
    width: 2rem;
    height: 2rem;
    z-index: 100;
    top: 3rem;
    right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    animation: animacaoH 2s 0.9s forwards;
    opacity: 0;
}

.show-menu .hamburguer {
    right: 11rem;
}

.linha {
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.08rem 0.1rem 1px rgba(0, 0, 0, 0.9);
    transition: transform 1s;
}

.show-menu #linha1 {
    width: 80%;
    transform: rotate(45deg) translate(.3rem, .28rem);
}

.show-menu #linha2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #linha3 {
    width: 80%;
    transform: rotate(-45deg) translate(.2rem, -.43rem);
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    background-color: #fc4a1a;
    color: white;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #fc4a1a;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-top: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

@keyframes animacaoH {
    0% {
        transform: translateZ(-10rem) rotateZ(-180deg);
    }

    100% {
        transform: translateZ(0) rotateZ(0);
        opacity: 1;
    }
}

@media screen and (min-width: 930px){
    .hamburguer {
        z-index: 0;
        opacity: 0;
    }

    @keyframes animacaoH {
        100% {
            opacity: 0;
        }
    }
}


/*=================== BARRA LATERAL ===================*/

.barra-lateral {
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -15rem;
    background-color: white;
    z-index: 90;
    transition: all 1s;
}


.show-menu .barra-lateral {
    right: 0;
}


.menu {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: 1rem;
}

.menu-link {
    font-size: 2rem;
    color: #fd7a00;
    font-family: var(--font-action);
    font-weight: 500;
    transition: color 1.5s;
}

.menu-link:hover {
    color: #fc4a1a;
}


@media screen and (min-width: 930px) and (max-width: 1200px){
    .barra-lateral {
        width: 80vw;
        height: 4rem;
        top: 0rem;
        left: 26%;
        background-color: transparent;
    }


    .menu {
        top: 2rem;
        left: 3%;
        transform: translate(0%, 0%);
        text-shadow: .1rem .1rem .15rem rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: row;
        animation: animacaoMenu 2s 0.7s forwards;
        opacity: 0;
    }

    .menu-item {
        margin-bottom: .5rem;
        margin: 0 .5rem 0 .5rem;
    }

    .menu-link {
        font-size: 1.3rem;
        color: #fd7a00;
        font-weight: 500;
    }

    .menu-link:hover {
        font-weight: bold;
    }

    @keyframes animacaoMenu {
        0% {
            transform: translateX(-10rem) rotateX(-30deg);
        }
    
        100% {
            transform: translateX(0) rotateX(0);
            opacity: 1;
        }
    }
}

@media screen and (min-width: 1201px){
    .barra-lateral {
        width: 80vw;
        height: 4rem;
        top: 0rem;
        left: 27%;
        background-color: transparent;
    }


    .menu {
        top: 2rem;
        left: 7%;
        transform: translate(0%, 0%);
        text-shadow: 1.2px 1.2px 2px rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: row;
        animation: animacaoMenu 2s 0.7s forwards;
        opacity: 0;
    }

    .menu-item {
        margin-bottom: .5rem;
        margin: 0 .5rem 0 .5rem;
    }

    .menu-link {
        font-size: 1.3rem;
        color: #fd7a00;
        font-weight: 500;
    }

    .menu-link:hover {
        font-weight: bold;
    }

    @keyframes animacaoMenu {
        0% {
            transform: translateX(-10rem) rotateX(-30deg);
        }
    
        100% {
            transform: translateX(0) rotateX(0);
            opacity: 1;
        }
    }
}

/*=================== REDES SOCIAIS ===================*/


.redes-sociais {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.redes-sociais i {
    color: #fc4a1a;
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.redes-sociais i:hover {
    color: white;
    background-color: #fc4a1a;
    transition: all 2s;
}

@media screen and (min-width: 930px) and (max-width: 1200px) {
    .redes-sociais {
        width: 20%;
        left: 72%;
        bottom: .6rem;
        display: flex;
        justify-content: right;
        animation: animacaoRedeS 2s 0.9s forwards;
        opacity: 0;
    }

    .redes-sociais i {
        width: 2.3rem;
        height: 2.3rem;
        font-size: 1.7rem;
        margin-right: 1rem;
    }

    @keyframes animacaoRedeS {
        0% {
            transform: translateX(-10rem) rotateX(-30deg);
        }
    
        100% {
            transform: translateX(0) rotateX(0);
            opacity: 1;
        }
    }
}

@media screen and (min-width: 1201px) {
    .redes-sociais {
        width: 20%;
        left: 72%;
        bottom: .3rem;
        display: flex;
        justify-content: right;
        animation: animacaoRedeS 2s 0.9s forwards;
        opacity: 0;
    }

    .redes-sociais i {
        font-size: 1.9rem;
        margin-right: 3rem;
    }

    @keyframes animacaoRedeS {
        0% {
            transform: translateX(-10rem) rotateX(-30deg);
        }
    
        100% {
            transform: translateX(0) rotateX(0);
            opacity: 1;
        }
    }

    .redes-sociais i:hover {
        color: white;
        background-color: #fc4a1a;
        transition: all 2s;
    }
}


/*=================== PALAVRA DE DEUS ===================*/

.section-palavra {
    margin: 0 auto;
}

.section-header {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-primary);
    font-weight: lighter;
    color: #fd7a00;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.5);
}

.palavra-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.palavra-texto {
    font-size: 1.4rem;
    margin-top: 2.5rem;
    font-family: var(--font-secundary);
    flex: 6 1 160px;
    text-align: center;
}

.section-subtitulo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    font-size: 1.7rem;
    font-family: var(--font-secundary);
    color: #fd7a00;
    text-shadow: 1.4px 1.4px .15rem rgba(0, 0, 0, 0.3);
}

.palavra-texto2 {
    min-width: 18rem;
    text-indent: 30px;
    flex: 6 1 160px;
    padding: 0 3rem 0 3rem;
    margin-top: 1.5rem;
    letter-spacing: .5px;
    line-height: 1.5rem;
    font-family: var(--font-secundary);
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
}

strong {
    font-weight: bold;
    color: #fd7a00;
    text-shadow: 1.4px 1.4px .1rem rgba(0, 0, 0, 0.2);
}

.palavra-img img {
    object-fit: cover;
    max-width: 100%;
    flex: 1 1 330px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 620px) and (max-width: 1012px) {
    .palavra-img {
        margin: 0 auto;
    }
}

@media screen and (min-width: 930px) {
    .section-header h1 {
        padding-top: 4rem;
    }
}

/*=================== JESUS ===================*/


.section-jes {
    width: 100%;
}

.section-header-2 {
    margin-bottom: 2rem;
}


.jes-texto {
    max-width: 75%;
    margin: auto;
    line-height: 1.5rem;
    letter-spacing: .5px;
    font-family: var(--font-secundary);
    font-size: 1.4rem;
}

.jes-bloco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.jes-card {
    width: 15rem;
    height: 22rem;
    position: relative;
    margin: 1rem;
}

.jes-card-img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: #262626;
}

.jes-card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .5s;
}

.jes-card:hover .jes-card-img img {
    opacity: .5;
}

.jes-card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem 1rem 2.5rem 1rem;
    text-shadow: .2rem .3rem .3rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 1.3s;
}

.jes-card-info h2 {
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--font-primary);
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.jes-card-info p {
    font-size: 17px;
    font-weight: 400;
    font-family: var(--font-secundary);
    color: rgba(255, 255, 255, 0.925);
    margin-bottom: 2rem;
}

.btn {
    background: #fc4a1a;
    background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);
    background: linear-gradient(to left, #f7b733, #fc4a1a);
    border: none;
    border-radius: 10px;
    padding: .8rem 1.3rem;
    font-family: var(--font-action);
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
    color: white;
    box-shadow: 0 0.1rem .8rem rgba(0, 0, 0, 0.8);
    text-shadow: .1rem .1rem .15rem rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.jes-card-info button {
    width: 8rem;
    height: 2.5rem;
}

.jes-card-info button:hover {
    color: #dd9848;
    transition: all 0.7s;
}

.jes-card:hover .jes-card-info {
    opacity: 1;
    visibility: visible;
}





