@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");


:root {
    --cor5: #fd8700;
    --cor4: #E08722;
    --cor3: #dd9848;
    --cor2: #DBA96F;
    --cor1: #e0ac7e;
    --cor0: #FFC8A6;


    --font-padrao: Arial, Helvetica, sans-serif;
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: white;
}


.container {
    min-width: 300px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    margin: auto;
    background: #daf1f1;
    background: -webkit-linear-gradient(to top, #e2e1e1, #daf1f1);
    background: linear-gradient(to top, #e2e1e1, #daf1f1);
}

body.dark .container {
    background: #292c35;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.116);
}



h1 {
    padding-left: 2rem;
    padding-top: 2rem;
    margin: 2rem;
    font-family: var(--font-primary);
    font-size: 2.1rem;
    font-weight: 600;
    color: #E08722;
}


p {
    font-family: var(--font-secundary);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 .5rem 2rem 2rem;
    margin-left: 2rem;
}

body.dark p {
    color: white;
}


/*=================== FORMULÁRIO ===================*/

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.inplab-form input {
    font-size: 1.2rem;
    width: 18rem;
}

.inplab-form {
    position: relative;
}

.input-dad {
    width: 15rem;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 4px;
    font-family: var(--font-secundary);
    margin: 1.5rem 0 2.5rem 4rem;
}

 /* #email:invalid {
    border-color: crimson;
    box-shadow: 0px 0px 3px crimson;
}

#email:focus {
    outline: none;
}

#email:focus:invalid {
    box-shadow: none;
}

#emaill:invalid {
    border-color: crimson;
    box-shadow: 0px 0px 3px crimson;
}

#emaill:focus {
    outline: none;
}

#emaill:focus:invalid {
    box-shadow: none;
}

span {
    color: crimson;
} */



.inplab-form textarea {
    min-width: 18rem;
    max-width: 21rem;
    min-height: 1rem;
    max-height: 7rem;
    font-size: 1.3rem;
    font-style: italic;
}

.label-dad {
    position: absolute;
    left: 4rem;
    font-size: .8rem;
    font-weight: bold;
    font-family: var(--font-secundary);
    text-transform: uppercase;
}

body.dark .label-dad {
    color: white;
}

.btn {
    width: 7rem;
    margin-left: 4rem;
    height: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(102, 101, 101);
    cursor: pointer;
    letter-spacing: 1px;
}

@media screen and (max-width: 750px) {
    .inplab-form input {
        font-size: 1.1rem;
        width: 14rem;
    }

    .inplab-form textarea {
        min-width: 13rem;
        max-width: 14rem;
        min-height: 1rem;
        max-height: 5rem;
        font-size: 1.1rem;
        font-style: italic;
    }
}

/*=================== FOOTER ===================*/

footer {
    width: 100%;
    height: 8.25rem;
    margin-top: 2rem;
    background-color: #6a6a6d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #daf1f1;
    background: -webkit-linear-gradient(to bottom, #e2e1e1, #daf1f1);
    background: linear-gradient(to bottom, #e2e1e1, #daf1f1);
}

body.dark footer {
    background: #292c35;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.116);
}

.footer-conteiner {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.pagtop {
    display: flex;
    align-items: center;
}

.pagtop a {
    margin: 0 1rem 0 1rem;
    font-family: var(--font-secundary);
    color: #E08722;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}


.pagtop a:hover {
    color: #fd8700;
    text-decoration: underline;
    transition: all .7s;
}


.pagtop i {
    padding-right: .5rem;
    font-size: 1.5rem;
}

.lista-redes-sociais i {
    color: #E08722;
    background-color: transparent;
    margin: 0 2rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.lista-redes-sociais i:hover {
    color: white;
    background-color: #fd8700;
    transition: all .7s;
}

body.dark .lista-redes-sociais i:hover {
    color: #292c35;
}

.lista-redes-sociais ul {
    display: flex;
}

@media (max-width: 850px) {

    footer {
        height: 7.5rem;
    }

    .footer-conteiner {
        width: 98%;
        display: flex;
    }

    .pagtop {  
        flex-wrap: wrap;
        font-size: .9rem;
    }

    .pagtop a {
        margin: 0 .5rem 0 .5rem;
        font-size: .9rem;
    }

    .pagtop i {
        padding-right: 0.1rem;
        font-size: 1rem;
    }

    .lista-redes-sociais i {
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
        margin: 0 .5rem;
    }

    .lista-redes-sociais a {
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    #link-topo {
        right: 2.5rem;
        bottom: 6rem;
        width: 3rem;
        height: 3rem;
        
    }
}

@media screen and (min-width: 851px) and (max-width: 1270px) {
    .footer-conteiner {
        width: 90%;
        display: flex;
    }

    .pagtop a {
        font-size: 1rem;
        margin: 0 .7rem 0 .7rem;
    }

    .pagtop i {
        padding-right: 0.1rem;
        font-size: 1.3rem;
    }


    .lista-redes-sociais a {
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    #link-topo {
        right: 2.5rem;
        bottom: 6rem;
        width: 3rem;
        height: 3rem;
        
    }
}