@charset "UTF-8";

@import url('./components/header-titulo.css');
@import url('./components/img-banner-do-cabecalho.css');
@import url('./components/hamburguer.css');
@import url('./components/barra-lateral.css');
@import url('./components/redes-sociais.css');
@import url('./components/secao-palavra.css');
@import url('./components/secao-jesus.css');
@import url('./components/planodeleitura.css');
@import url('./components/secao-oracao.css');



@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");


:root {
    --cor5: #fd8700;
    --cor4: #E08722;
    --cor3: #dd9848;
    --cor2: #DBA96F;
    --cor1: #e0ac7e;
    --cor0: #FFC8A6;


    --font-padrao: Arial, Helvetica, sans-serif;
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: white;
}

/*=================== HEADER TITULO===================*/


/* IMPORTADO */


/*=================== IMG e BANNER DO CABEÇALHO ===================*/


/* IMPORTADO */


/*=================== HAMBURGUER ===================*/


/* IMPORTADO */


/*=================== BARRA LATERAL ===================*/


/* IMPORTADO */


/*=================== REDES SOCIAIS ===================*/


/* IMPORTADO */


/*=================== PALAVRA DE DEUS ===================*/


/* IMPORTADO */


/*=================== JESUS ===================*/


/* IMPORTADO */


/*=================== PLANO DE LEITURA ===================*/


/* IMPORTADO */


/*=================== ORAÇÃO ===================*/


/* IMPORTADO */


/*=================== FOOTER ===================*/


footer {
    width: 100%;
    height: 7rem;
    background: linear-gradient(-45deg, #530878, #085078, #2f746c, #1b796f);
    background-size: 400% 400%;
    animation: backgroundRodape 8s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-conteiner {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.pagtop {
    display: flex;
    align-items: center;
}

.pagtop a {
    margin: 0 1rem 0 1rem;
    font-family: var(--font-secundary);
    color: #ccc8c8;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}


.pagtop a:hover {
    color: white;
    text-decoration: underline;
    transition: all .7s;
}


.pagtop i {
    padding-right: .5rem;
    font-size: 1.5rem;
}

.lista-redes-sociais i {
    color: white;
    background-color: transparent;
    margin: 0 2rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.lista-redes-sociais i:hover {
    color: #2f746c;
    background-color: white;
    transition: all .7s;
}

.lista-redes-sociais ul {
    display: flex;
}

#link-topo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #fc4a1a;
    background: -webkit-linear-gradient(to bottom, #db9223, #fc4a1a);
    background: linear-gradient(to bottom, #db9223, #fc4a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

@keyframes backgroundRodape {
    0% {
        background-position: 0% 80%; 
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}



@media (max-width: 850px) {

    footer {
        height: 7.5rem;
    }

    .footer-conteiner {
        width: 98%;
        display: flex;
    }

    .pagtop {  
        flex-wrap: wrap;
        font-size: .9rem;
    }

    .pagtop a {
        margin: 0 .5rem 0 .5rem;
        font-size: .9rem;
    }

    .pagtop i {
        padding-right: 0.1rem;
        font-size: 1rem;
    }

    .lista-redes-sociais i {
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
        margin: 0 .5rem;
    }

    .lista-redes-sociais a {
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    #link-topo {
        right: 2.5rem;
        bottom: 6rem;
        width: 3rem;
        height: 3rem;
        
    }
}

@media screen and (min-width: 850px) and (max-width: 1270px) {
    .footer-conteiner {
        width: 90%;
        display: flex;
    }

    .pagtop a {
        font-size: 1rem;
        margin: 0 .7rem 0 .7rem;
    }

    .pagtop i {
        padding-right: 0.1rem;
        font-size: 1.3rem;
    }


    .lista-redes-sociais a {
        font-size: 1.5rem;
        margin: 0 1rem;
    }

    #link-topo {
        right: 2.5rem;
        bottom: 6rem;
        width: 3rem;
        height: 3rem;
    }
}


