header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.titulo-header{
    position: absolute;
    font-size: 1.3rem;
    padding: 1.5rem 0.1rem 1rem 2rem;
    font-family: var(--font-secundary);
    color: #fd7a00;
    text-shadow: .1rem .1rem .15rem rgba(0, 0, 0, 0.6);
    width: 20vw;
    animation: animacaoh1 2s 0.5s forwards;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    transition: all 1s;
}

.titulo-header:hover {
    color: #fc4a1a;
    letter-spacing: 1px;
}

@keyframes animacaoh1 {
    0% {
        transform: translateX(-10rem) rotateX(-30deg);
    }

    100% {
        transform: translateX(0) rotateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 930px){
    .titulo-header {
        left: 0%;
        position: fixed;
    }
}