@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;

  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background: #292c35;
}


#mudar-tema {
    margin-left: 85%;
    margin-top: 30px;
    padding-top: 50px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #37383b;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 15px;
  width: 30px;
  transform: scale(1.5);
}


body.dark .label {
  background-color: rgb(245, 245, 204);
}

.label .ball {
  background-color: rgb(245, 245, 204);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 11px;
  width: 11px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

body.dark .ball {
  background-color: #37383b;
}

.checkbox:checked + .label .ball {
  transform: translateX(15px);
}

