.section-plano {
    background: rgb(114, 59, 59);
    background: -webkit-linear-gradient(to left, #c0731c, rgb(114, 59, 59));
    background: linear-gradient(to left, #c0731c, rgb(114, 59, 59));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

body.dark .section-plano {
    background: #292c35;
    color: lightcyan;
}

.section-header-plano {
    color: white;
}

body.dark .section-header-plano {
    color: #fd7a00;
}

#container {
    overflow-x: auto;
    padding: 0 14px 0 14px;
}

table {
    border-collapse: collapse;
    height: 75vh;
    width: 1000px;
    min-width: 600px;
    background-color: white;
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, 0.6);
    margin-bottom: .4rem;
}

col.impar {
    background-color: rgba(211, 199, 94, 0.644);
}

body.dark col.impar {
    background-color: #636468;
}

col.par {
    background-color: #e4a55ebb;
}

body.dark col.par {
    background-color: rgba(209, 84, 38, 0.61);
}

caption {
    font-family: var(--font-secundary);
    font-size: 1.8rem;
    font-weight: bold;
    color: lightcyan;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.4);
}

body.dark caption {
    color: #fd7a00;
}

td, th {
    border: 1px solid black;
    padding: 0px 3px 0px 3px;
}

@media screen and (min-width: 930px) {

    .section-plano {
        height: 800px;
        margin-top: 0;
    }

    .section-header-plano {
        color: lightcyan;
    }

    #container {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    td, th {
        padding: 0px 2px 0px 2px;
    }
}